############
# Compiled #
############
*.class

#################
# IDE Generated #
#################
.classpath
.project
.settings

##################
# Test Resources #
##################
res
*.png
*.txt

########
# Misc #
########
*~