############
# Compiled #
############
bin
*.class

#################
# IDE Generated #
#################
.classpath
.project
.settings

##############################
# Resources (not owned by me)#
##############################
spritesheet.png
spritesheet.txt

########
# Misc #
########
*~